@import 'tailwindcss';

@plugin "daisyui" {
	themes:
		corporate --default,
		business --prefersdark;
}

/* Hide number input spinner in WebKit browsers */
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
	@apply appearance-none;
}

.animate-spin-reverse {
	animation: spin-reverse 1s linear infinite;
}

@keyframes spin-reverse {
	from {
		transform: rotate(360deg);
	}
	to {
		transform: rotate(0deg);
	}
}
